body{
  margin: 0;
  background-color: #F6F6F6;
}

.weeks-products {
  font-family: Arial, Helvetica, sans-serif;
}

.weeks-products__header {
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}

.weeks-products__cards.cards {
  padding: 0 15px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1180px;
  border-radius: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: white;
  width: calc((100% - 40px)/3);
  min-height: 482px;
  border-radius: 45px;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.18);
}

.card__info{
  padding: 0 24px 24px;
  height: 100%;
}

.card__image {
  border-radius: 12px 12px 0 0;
}
.card__name {
  font-size: 24px;
  line-height: 36px;
  color: #2F2F2F;
  font-weight: 900;
  padding-top: 3px;
}
.card__description {
  font-size: 16px;
  line-height: 24px;
  color: #2F2F2F;
  height: 93px;
  margin: 0;
}
.card__button {
  width: 100%;
  border: 2px solid #42940F;
  border-radius: 8px;
  color: #42940F;
  background-color: white;
  height: 48px;
  margin-top: 25px;
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
}

.card__button:hover, .card__button:active{
  background-color: #45971273;
  cursor: pointer;
}

.card__button.card__button_disabled{
  background-color: #4E4E4E;
  border-color: #4E4E4E;
  color: white;
}

.card__button.card__button_disabled:hover,
.card__button.card__button_disabled:active{
  background-color: #77777760;
}

.card__tags{
  position: absolute;
  top: 16px;
  left: 16px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.card__last-item-tag,
.card__new-item-tag{
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  padding: 0 16px;
  border-radius: 10px;
}

.card__last-item-tag{
  background-color:#FFCF56;
}
.card__new-item-tag{
  background-color: #FDCFF3;
}

@media (max-width: 991px) {
  .card {
    width: calc((100% - 20px)/2);
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}